.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #050505;
    color: #e3e3e3;
    width: 100%;
    height: 80px;
    color: teste;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    margin-left: 20px;
  }
  
  .tools {
    gap: 50px;
    display: flex;
    list-style: none;
    margin-right: 20px;
  }
  
  .tools li {
    position: relative;
    cursor: pointer;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .tools li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
  }
  
  .tools li:hover::after {
    width: 100%;
  }