body {
  font-family: "Bebas Neue", sans-serif;
  background-color: #131417;
  text-align: center;
  padding: 0;
  margin: 0;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.share-regular {
  font-family: "Share", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.quantify {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  color: goden;
  background: linear-gradient(
    120deg,
    #24292d 0%,
    #444a50 30%,
    #ffffff 50%,
    #444a50 70%,
    #24292d 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

#searchInput {
  display: flex;
  background-color: #050505;
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid #050505;
  border-radius: 5px;
  font-family: "Share", sans-serif;
  color: #fff;
}

#cartasContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-family: "Bebas Neue", sans-serif;
}

.carta {
  background-color: #24292d;
  border: 1px solid #24292d;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  transition: transform 0.2s;
}

.carta:hover {
  transform: scale(1.05);
}

.carta img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.carta p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

/* Modal de zoom */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
  padding: 20px;
  animation: fadeIn 0.3s ease;
}

.modal img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.modal p {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.modal.hidden {
  display: none;
}

#closeModal {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}